:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

a {
  text-decoration: underline;
}

.container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.text-block {
  text-decoration: underline;
}

.div-block {
  grid-column-gap: 49px;
  grid-row-gap: 49px;
  justify-content: center;
  align-items: center;
  margin-left: 420px;
  display: flex;
}

.section {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.bold-text {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.text-block-2, .text-block-3, .text-block-4 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.text-block-5 {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-right: 80px;
  font-family: Montserrat, sans-serif;
  font-size: 120%;
  font-weight: 500;
  display: block;
}

.div-block-2 {
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.div-block-3 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.container-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.text-block-5-copy {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 80px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.text-block-6 {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 120%;
  font-weight: 500;
  display: block;
}

.div-block-4 {
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.text-block-7 {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 250%;
  font-weight: 600;
  display: block;
}

.button {
  background-color: #e71336;
  border-radius: 48px;
  padding: 15px 88px;
  font-family: Montserrat, sans-serif;
  font-size: 150%;
  font-weight: 600;
}

.section-3 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.container-3 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, .2);
}

.div-block-5 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-6 {
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.flex-block {
  justify-content: center;
  align-items: flex-start;
  padding-left: 120px;
  padding-right: 120px;
}

.section-3-copy, .section-4 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.flex-block-2 {
  justify-content: center;
  align-items: flex-start;
  padding-left: 120px;
  padding-right: 120px;
}

.div-block-7 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block-8 {
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.text-block-5-copy {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
  padding: 44px 0 44px 80px;
  font-family: Montserrat, sans-serif;
  font-size: 120%;
  font-weight: 500;
  display: block;
}

.text-block-6-copy {
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 120%;
  font-weight: 500;
  display: block;
}

.flex-block-3, .flex-block-4 {
  justify-content: center;
  align-items: center;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  background-color: #e8f3f6;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-logo-left-container.shadow-three:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #59767f;
  letter-spacing: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #3b4f55;
}

.nav-link:focus {
  color: #8e9ea1;
  text-decoration: none;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.w--current {
  color: #9e9e9e;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #000;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-accent.w--current {
  color: #9e9e9e;
}

.button-primary {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #ed3e5c;
  border-radius: 800px;
  padding: 12px 52px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  transition: all .2s linear;
}

.button-primary:hover {
  color: #fff;
  background-color: #e71336;
  box-shadow: inset 1px 2px 12px rgba(255, 255, 255, .25), 1px 2px 4px rgba(0, 0, 0, .25);
}

.button-primary:active {
  box-shadow: none;
  color: #e71638;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #e71638;
}

.hero-without-image {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(rgba(120, 202, 226, .86), #fff);
  border: 0 solid rgba(255, 255, 255, 0);
  border-radius: 0;
  padding: 80px 30px 60px;
  position: relative;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.margin-bottom-24px {
  color: #1e2627;
  text-align: right;
  margin-bottom: 40px;
  font-family: Lora, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.heading {
  color: #1e2627;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 60px;
  font-family: Lora, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.hero-heading-left {
  outline-offset: 0px;
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  border-radius: 20px;
  outline: 1px solid #333;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: 60px;
  margin-right: 60px;
  padding: 80px 30px 52px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 76px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
  font-family: Lora, sans-serif;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.shadow-two {
  max-width: 100%;
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.heading-2 {
  text-align: left;
  flex-flow: row;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  display: flex;
}

.heading-3 {
  text-align: right;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
}

.section-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.svg {
  opacity: 1;
  width: 5%;
  margin-top: 60px;
  padding-top: 0;
}

.path {
  color: #1e2627;
  border: 1px solid #000;
}

.path:hover {
  color: #b1d6e1;
}

.path-2 {
  color: rgba(177, 214, 225, 0);
  background-color: #b1d6e1;
}

.path-2:hover {
  color: rgba(255, 255, 255, 0);
  background-color: #abecff;
}

.hero-wrapper-copy {
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  display: flex;
}

.svg-2 {
  color: #000;
  width: 12%;
  transform: rotate(0);
}

.link-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-wrapper-copy-copy {
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 30px;
  display: flex;
}

.svg-2-copy {
  color: #000;
  width: 12%;
  transform: rotate(180deg);
}

.hero-heading-left-copy {
  outline-offset: 0px;
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  border-radius: 20px;
  outline: 1px solid #333;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: 60px;
  margin-right: 60px;
  padding: 32px 30px 80px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 76px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.link-block-2-copy {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.margin-bottom-24px-copy {
  color: #1e2627;
  text-align: right;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}

.div-block-9 {
  padding-bottom: 44px;
}

.hero-split-copy, .hero-split-copy-copy, .hero-split-copy {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 46%;
  display: flex;
}

.image {
  padding-bottom: 6px;
}

.hero-without-image-2 {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(rgba(120, 202, 226, .86), #fff);
  border-bottom: 1px solid #e4ebf3;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-3 {
  color: #1e2627;
  margin-bottom: 0;
  padding-bottom: 160px;
  padding-left: 0;
  padding-right: 0;
  font-family: Lora, sans-serif;
  font-size: 20px;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.svg-3 {
  background-color: #3b4f55;
  border-radius: 500%;
  width: 8%;
  padding: 16px;
}

.path-3 {
  color: #fff;
  -webkit-text-stroke-color: #fff;
  padding-left: 0;
}

.heading-4 {
  color: #1e2627;
  padding-top: 12px;
  padding-bottom: 14px;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.margin-bottom-24px-3-copy {
  color: #556466;
  letter-spacing: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.slide {
  background-color: #3b4f55;
}

.hero-heading-left-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 30px;
  display: block;
  position: relative;
}

.hero-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-4 {
  margin-bottom: 24px;
}

.shadow-two-2 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.mask {
  width: auto;
}

.div-block-10 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.slider {
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 100vh;
  display: flex;
}

.margin-bottom-24px-5 {
  margin-bottom: 24px;
}

.div-block-11 {
  display: block;
}

.hero-heading-left-3 {
  -webkit-text-stroke-width: 0px;
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: -31px;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.container-7 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-3 {
  justify-content: space-between;
  align-items: center;
  padding-left: 44px;
  padding-right: 44px;
  display: flex;
}

.hero-split-3 {
  color: #5197ac;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  max-width: 54%;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.margin-bottom-24px-6 {
  color: #1e2627;
  width: auto;
  margin-bottom: 24px;
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.shadow-two-3 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.heading-5 {
  color: #1e2627;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.icon, .icon-2 {
  color: #1e2627;
}

.hero-heading-left-4 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper-4 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-4 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-7 {
  margin-bottom: 24px;
}

.hero-heading-right {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px 80px 70px;
  position: relative;
}

.shadow-two-3-copy {
  padding-left: 0;
}

.slide-nav {
  background-color: #7ac5dc;
  display: block;
}

.hero-stack {
  background-color: rgba(140, 211, 233, 0);
  background-image: linear-gradient(rgba(120, 202, 226, .86), #fff);
  border-bottom: 1px solid #e4ebf3;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 56px 30px;
  display: flex;
  position: relative;
}

.container-8 {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.hero-wrapper-two-3 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-8 {
  color: #1e2627;
  margin-bottom: 24px;
  margin-left: -167px;
  margin-right: -167px;
  font-family: Lora, sans-serif;
  font-weight: 400;
}

.button-primary-5 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-5:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-5:active {
  background-color: #43464d;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.hero-image.shadow-two {
  box-shadow: none;
  margin-top: 24px;
}

.heading-6 {
  color: #1e2627;
  width: auto;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 36px;
}

.cell {
  padding-left: 20px;
  padding-right: 20px;
}

.map {
  margin-bottom: 36px;
  padding-bottom: 0;
}

.heading-7 {
  color: #1e2627;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.paragraph {
  color: #1e2627;
  font-family: Lora, sans-serif;
  line-height: 19px;
}

.flex-block-5 {
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}

.heading-8 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  display: none;
}

.heading-9, .heading-10 {
  color: #1e2627;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.heading-11 {
  color: #1e2627;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.map-2 {
  border-radius: 20px;
  height: 80vh;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.container-10 {
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 36px;
  display: flex;
}

.paragraph-2, .paragraph-3 {
  color: #1e2627;
  font-family: Lora, sans-serif;
  line-height: 19px;
}

.heading-12 {
  font-family: Montserrat, sans-serif;
  display: none;
}

.paragraph-4, .paragraph-5 {
  font-family: Lora, sans-serif;
  display: none;
}

.heading-13 {
  font-family: Montserrat, sans-serif;
  display: none;
}

.paragraph-6 {
  font-family: Lora, sans-serif;
  display: none;
}

.footer-light {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px 40px;
  position: relative;
}

.container-11 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  font-family: Lora, sans-serif;
  text-decoration: none;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  height: 48px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-light-2 {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px 40px;
  font-family: Lora, sans-serif;
  position: relative;
}

.footer-wrapper-two-2 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title-2 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two-2 {
  color: #1a1b1f;
  margin-top: 20px;
  font-family: Lora, sans-serif;
  text-decoration: none;
}

.footer-link-two-2:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-form-2 {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-field-2 {
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field-2:hover, .footer-form-field-2:focus {
  border-color: #76879d;
}

.footer-form-field-2::placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-copyright-2 {
  color: #3a4554;
  font-family: Lora, sans-serif;
}

.footer-light-3 {
  border-bottom: 1px solid #e4ebf3;
  padding: 100px 30px 40px;
  font-family: Lora, sans-serif;
  position: relative;
}

.footer-wrapper-two-3 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title-3 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two-3 {
  color: #1a1b1f;
  margin-top: 20px;
  font-family: Lora, sans-serif;
  text-decoration: none;
}

.footer-link-two-3:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-bottom-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright-3 {
  color: #3a4554;
}

.body {
  background-color: rgba(244, 250, 252, 0);
  background-image: radial-gradient(circle, rgba(120, 202, 226, .86), #fff);
}

.section-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section-7 {
  padding-bottom: 266px;
}

.body-2 {
  background-color: #fff;
}

.svg-4 {
  -webkit-text-stroke-color: #fff;
  background-color: #b1d6e1;
  border-radius: 20px;
}

.svg-4:hover {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #fff;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
}

.hero-wrapper-copy-copy-copy {
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  display: flex;
}

.body-3 {
  background-color: #5197ac;
}

.button-primary-copy {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #ed3e5c;
  border-radius: 800px;
  width: 16%;
  padding: 8px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  transition: all .2s linear;
}

.button-primary-copy:hover {
  color: #fff;
  background-color: #e71336;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
}

.button-primary-copy:active {
  box-shadow: none;
  color: #e71638;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #e71638;
}

.shadow-two-3-copy-copy {
  padding-left: 0;
}

.flex-block-6 {
  mix-blend-mode: normal;
  background-color: #fff;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50vw;
  height: 80vh;
  max-height: none;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, .2), 0 2px 20px rgba(0, 0, 0, .2);
}

.list-item {
  color: #59767f;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .container-4 {
    max-width: 728px;
  }

  .navbar-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .hero-wrapper-two {
    padding-left: 60px;
    padding-right: 60px;
  }

  .container-5 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-split {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .margin-bottom-24px-2 {
    text-align: center;
  }

  .shadow-two {
    max-width: 80%;
  }

  .heading-3 {
    text-align: center;
  }

  .hero-wrapper-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-split-copy {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .hero-wrapper-copy-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-split-copy, .hero-split-copy-copy, .hero-split-copy {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-6 {
    max-width: 728px;
  }

  .hero-wrapper-two-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .margin-bottom-24px-3 {
    font-size: 16px;
  }

  .heading-4 {
    font-size: 36px;
  }

  .hero-wrapper-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .mask {
    margin-bottom: -18px;
  }

  .slider {
    justify-content: center;
    align-items: flex-start;
  }

  .hero-heading-left-3 {
    margin-bottom: -42px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .container-7 {
    max-width: 728px;
  }

  .hero-wrapper-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .hero-split-3 {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 40px;
    display: flex;
  }

  .margin-bottom-24px-6 {
    text-align: center;
    font-size: 10px;
    line-height: 16px;
  }

  .shadow-two-3 {
    align-self: auto;
    max-width: 80%;
    margin-left: 0;
    padding-left: 0;
    display: block;
  }

  .heading-5 {
    text-align: center;
    font-size: 24px;
  }

  .hero-wrapper-4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-4 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .shadow-two-3-copy {
    max-width: 80%;
    margin-left: 0;
    padding-left: 0;
    display: block;
  }

  .slide-nav {
    margin-bottom: 0;
  }

  .container-8 {
    max-width: 728px;
  }

  .hero-wrapper-two-3 {
    max-width: 40%;
  }

  .heading-6 {
    margin-left: -50px;
    margin-right: -50px;
    font-size: 28px;
  }

  .map, .container-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-7 {
    width: 99.9998%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 17px;
  }

  .flex-block-5 {
    background-image: none;
    justify-content: center;
    align-items: flex-start;
    width: 60vw;
    height: auto;
    padding: 375px 16px 16px;
    display: flex;
  }

  .map-2 {
    height: 50vh;
    padding-top: 0;
  }

  .container-10 {
    flex-flow: column;
    margin-bottom: 0;
    padding-top: 19px;
    padding-bottom: 0;
  }

  .footer-light {
    padding-top: 40px;
  }

  .container-11 {
    max-width: 728px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
    font-size: 12px;
  }

  .footer-block-two {
    line-height: 16px;
  }

  .footer-title {
    font-size: 16px;
  }

  .footer-form {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .footer-form-field, .footer-copyright {
    font-size: 12px;
  }

  .footer-light-2 {
    padding-top: 40px;
    font-family: Lora, sans-serif;
  }

  .footer-wrapper-two-2 {
    flex-wrap: wrap;
  }

  .footer-block-two-2 {
    line-height: 16px;
  }

  .footer-form-2 {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container-2 {
    max-width: 350px;
    line-height: 16px;
  }

  .footer-wrapper-two-3 {
    flex-wrap: wrap;
  }

  .footer-form-container-3 {
    max-width: 350px;
  }

  .body {
    background-color: #fff;
    background-image: radial-gradient(circle, rgba(120, 202, 226, .86), #fff);
  }

  .section-7 {
    padding-bottom: 93px;
  }

  .hero-wrapper-copy-copy-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .shadow-two-3-copy-copy {
    max-width: 80%;
    margin-left: 0;
    padding-left: 0;
    display: block;
  }

  .flex-block-6 {
    box-shadow: none;
    background-color: #fff;
    border-radius: 0;
    width: 100vw;
    height: auto;
    padding-left: 48px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-logo-left-container.shadow-three {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-without-image {
    padding: 60px 15px;
  }

  .margin-bottom-24px, .heading {
    font-size: 16px;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .hero-split {
    margin-bottom: 12px;
  }

  .margin-bottom-24px-2 {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 12px;
  }

  .heading-2, .heading-3 {
    font-size: 32px;
  }

  .section-5 {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .svg {
    width: 8%;
  }

  .hero-wrapper-copy {
    justify-content: center;
    align-items: center;
  }

  .hero-wrapper-copy-copy {
    padding-bottom: 0;
  }

  .hero-heading-left-copy {
    padding: 100px 15px 130px;
  }

  .margin-bottom-24px-copy {
    font-size: 16px;
  }

  .div-block-9 {
    padding-bottom: 0;
  }

  .hero-without-image-2, .hero-heading-left-2, .hero-heading-left-3 {
    padding: 60px 15px;
  }

  .hero-split-3 {
    margin-bottom: 0;
  }

  .shadow-two-3 {
    padding-bottom: 60px;
  }

  .heading-5 {
    margin-top: 0;
  }

  .hero-heading-left-4, .hero-heading-right {
    padding: 60px 15px;
  }

  .shadow-two-3-copy {
    max-width: 80%;
  }

  .hero-stack {
    padding: 60px 15px;
  }

  .hero-wrapper-two-3 {
    max-width: 40%;
  }

  .margin-bottom-24px-8 {
    font-size: 12px;
  }

  .heading-6 {
    margin-left: -50px;
    margin-right: -50px;
    font-size: 28px;
    font-weight: 500;
  }

  .heading-7 {
    font-size: 16px;
  }

  .paragraph {
    font-size: 12px;
  }

  .flex-block-5 {
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    padding-top: 384px;
  }

  .heading-8, .heading-9, .heading-10 {
    font-size: 16px;
  }

  .heading-11 {
    font-size: 24px;
  }

  .paragraph-2, .paragraph-3 {
    font-size: 12px;
  }

  .heading-12 {
    font-size: 16px;
  }

  .paragraph-4, .paragraph-5 {
    font-size: 12px;
  }

  .heading-13 {
    font-size: 16px;
  }

  .paragraph-6 {
    font-size: 12px;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-block-two {
    font-size: 10px;
    line-height: 12px;
  }

  .footer-title {
    font-size: 12px;
  }

  .footer-form-container {
    line-height: 12px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 12px;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-light-2 {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 16px;
  }

  .footer-wrapper-two-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .footer-block-two-2 {
    line-height: 12px;
  }

  .footer-copyright-2 {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-light-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-bottom-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright-3 {
    font-size: 14px;
    line-height: 20px;
  }

  .hero-wrapper-copy-copy-copy {
    padding-bottom: 0;
  }

  .shadow-two-3-copy-copy {
    max-width: 40%;
  }
}

@media screen and (max-width: 479px) {
  .container-4 {
    max-width: none;
  }

  .navbar-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .button-primary {
    padding: 4px 12px;
    font-size: 10px;
    font-weight: 700;
  }

  .hero-without-image {
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 36px;
    display: flex;
  }

  .hero-wrapper-two {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom-24px {
    margin-bottom: 72px;
    font-size: 12px;
    line-height: 15px;
  }

  .heading {
    margin-top: 34px;
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero-heading-left {
    margin-left: 16px;
    margin-right: 16px;
    padding: 0 28px;
  }

  .container-5 {
    max-width: none;
  }

  .hero-split {
    justify-content: center;
    align-items: center;
  }

  .margin-bottom-24px-2 {
    margin-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 14px;
    display: block;
  }

  .shadow-two {
    max-width: 30%;
    margin-bottom: -4px;
  }

  .heading-2 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 700;
  }

  .heading-3 {
    margin-top: 56px;
  }

  .svg {
    width: 8%;
    margin-top: 28px;
  }

  .hero-wrapper-copy, .hero-wrapper-copy-copy {
    margin-bottom: -60px;
    padding-top: 16px;
  }

  .svg-2-copy {
    margin-top: -16px;
    padding-top: 24px;
  }

  .hero-heading-left-copy {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 66px;
    padding-bottom: 66px;
  }

  .link-block-2-copy.w--current {
    margin-top: -28px;
  }

  .margin-bottom-24px-copy {
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
  }

  .div-block-9 {
    padding-bottom: 52px;
  }

  .hero-split-copy-copy {
    justify-content: center;
    align-items: flex-start;
    margin-bottom: -52px;
  }

  .hero-split-copy {
    justify-content: center;
    align-items: flex-end;
  }

  .image {
    max-width: none;
    max-height: none;
  }

  .hero-without-image-2 {
    background-size: cover;
  }

  .container-6 {
    max-width: none;
  }

  .hero-wrapper-two-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .margin-bottom-24px-3 {
    font-size: 12px;
  }

  .heading-4 {
    font-size: 28px;
    line-height: 32px;
  }

  .margin-bottom-24px-3-copy {
    letter-spacing: 6px;
    padding-bottom: 24px;
    font-size: 12px;
    font-weight: 500;
  }

  .container-7 {
    max-width: none;
  }

  .hero-split-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom-24px-6 {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
  }

  .shadow-two-3 {
    flex: 0 auto;
    display: none;
  }

  .heading-5 {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }

  .icon, .icon-2 {
    font-size: 20px;
  }

  .shadow-two-3-copy {
    display: none;
  }

  .hero-stack {
    justify-content: center;
    align-items: center;
  }

  .container-8 {
    justify-content: center;
    align-items: flex-start;
    max-width: none;
    display: block;
  }

  .hero-wrapper-two-3 {
    max-width: 100%;
  }

  .margin-bottom-24px-8 {
    font-size: 10px;
    line-height: 14px;
  }

  .heading-6 {
    margin-top: 0;
    font-size: 20px;
  }

  .cell {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .heading-7 {
    font-size: 14px;
    line-height: 20px;
  }

  .paragraph {
    font-size: 10px;
    line-height: 14px;
  }

  .flex-block-5 {
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    padding-top: 16px;
  }

  .heading-8 {
    font-size: 12px;
  }

  .heading-9, .heading-10 {
    font-size: 14px;
    line-height: 20px;
  }

  .heading-11 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 24px;
  }

  .map-2 {
    height: 40vh;
  }

  .container-10 {
    padding-top: 0;
  }

  .paragraph-2, .paragraph-3 {
    font-size: 10px;
    line-height: 14px;
  }

  .heading-12 {
    font-size: 12px;
  }

  .paragraph-4, .paragraph-5 {
    font-size: 8px;
    line-height: 10px;
  }

  .heading-13 {
    font-size: 12px;
  }

  .paragraph-6 {
    font-size: 8px;
    line-height: 10px;
  }

  .container-11 {
    max-width: none;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-wrapper-two-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two-2 {
    margin-top: 40px;
    font-size: 8px;
    line-height: 4px;
  }

  .footer-title-2 {
    font-size: 12px;
  }

  .footer-wrapper-two-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two-3 {
    margin-top: 40px;
  }

  .footer-bottom-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-wrapper-copy-copy-copy {
    margin-bottom: -60px;
    padding-top: 16px;
  }

  .button-primary-copy {
    padding: 4px;
    font-size: 8px;
    font-weight: 700;
  }

  .shadow-two-3-copy-copy {
    display: none;
  }

  .flex-block-6 {
    width: auto;
    padding-bottom: 32px;
  }
}


